body, html { 
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}


/** Splash Page **/
.hero {
  overflow: hidden;
}

.parallax-image1 {
  background-image: url(../src/resources/images/floodlights-mountain.jpg);
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: scale 15s ease;
}

@keyframes scale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.title {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bolder;
}
.title h1 {
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

@media (min-width: 540px) {
  .title {
    font-size: 2rem;
  }
}

@media (min-width: 740px) {
  .title {
    font-size: 2.5rem;
  }
}

.parallax-image2 {
  background-image: url(../src/resources/images/floodlights-empty.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/** Info **/
.location-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info {
  color: #fff;
  font-size: 1rem;
  margin: 3rem;
  text-align: center;
}

.map {
  width: 90%;
  margin: 1rem;
}

@media (min-width: 768px) {
  .location-wrapper {
    flex-direction: row;
  }

  .info {
    font-size: 1.5rem;
    margin: 1rem;
    width: 50%;
  }

  .map {
    width: 50%;
  }
}

/** Footer **/
.footer {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.footer-copyright {
  color: #fff;
  font-size: 0.8rem;
}

.footer-socials {
  color: #fff;
}
